*.swp
*~
*.o
*.la
*.lo
*.so
*.php
.deps
.libs/
Makefile*
ac*
auto*
build/
config.guess
config.h*
config.log
config.nice
config.status
config.sub
configure*
execdir.la
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
tags
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.sh
