<?xml version="1.0" encoding="UTF-8"?>
<package packagerversion="1.10.6" version="2.0" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
	<name>execdir</name>
	<channel>pecl.php.net</channel>
	<summary>execdir - jailed system command</summary>
	<description>jailed system function. Run only the shell command in the specified directory.
	</description>
	<lead>
		<name>JoungKyun.Kim</name>
		<user>joungkyun</user>
		<email>joungkyun@daum.net</email>
		<active>yes</active>
	</lead>
	<date>@curdate@</date>
	<time>@curtime@</time>
	<version>
		<release>1.0.7</release>
		<api>1.0.0</api>
	</version>
	<stability>
		<release>stable</release>
		<api>stable</api>
	</stability>
	<license uri="http://www.php.net/license">PHP</license>
	<notes>
		- add a missing commit from #32 Build test error on 1.0.5
		- fixed #37 Error due to the 3rd argument of pnctl_exe
	</notes>
	<contents>
		<dir name="/">
			<file md5sum="@README.md@" name="README.md" role="doc" />
			<file md5sum="@README.ko.md@" name="README.ko.md" role="doc" />
			<file md5sum="@config.m4@" name="config.m4" role="src" />
			<file md5sum="@execdir_arginfo.h@" name="execdir_arginfo.h" role="src" />
			<file md5sum="@execdirapi.c@" name="execdirapi.c" role="src" />
			<file md5sum="@execdirapi.h@" name="execdirapi.h" role="src" />
			<file md5sum="@php_execdir.c@" name="php_execdir.c" role="src" />
			<file md5sum="@php_execdir.h@" name="php_execdir.h" role="src" />
			<file md5sum="@proc_open.c@" name="proc_open.c" role="src" />
			<file md5sum="@proc_open5.c@" name="proc_open5.c" role="src" />
			<file md5sum="@proc_open53.c@" name="proc_open53.c" role="src" />
			<file md5sum="@proc_open7.c@" name="proc_open7.c" role="src" />
			<file md5sum="@proc_open74.c@" name="proc_open74.c" role="src" />
			<dir name="tests">
				<file md5sum="@tests/000-jailed_shellcmd.phpt@" name="000-jailed_shellcmd.phpt" role="test" />
				<file md5sum="@tests/001-exec-failed.phpt@" name="001-exec-failed.phpt" role="test" />
				<file md5sum="@tests/001-exec-normal.phpt@" name="001-exec-normal.phpt" role="test" />
				<file md5sum="@tests/002-system-failed.phpt@" name="002-system-failed.phpt" role="test" />
				<file md5sum="@tests/002-system-normal.phpt@" name="002-system-normal.phpt" role="test" />
				<file md5sum="@tests/003-passthru-failed.phpt@" name="003-passthru-failed.phpt" role="test" />
				<file md5sum="@tests/003-passthru-normal.phpt@" name="003-passthru-normal.phpt" role="test" />
				<file md5sum="@tests/004-shell_exec-failed.phpt@" name="004-shell_exec-failed.phpt" role="test" />
				<file md5sum="@tests/004-shell_exec-normal.phpt@" name="004-shell_exec-normal.phpt" role="test" />
				<file md5sum="@tests/005-popen-failed.phpt@" name="005-popen-failed.phpt" role="test" />
				<file md5sum="@tests/005-popen-normal.phpt@" name="005-popen-normal.phpt" role="test" />
				<file md5sum="@tests/006-proc_open-failed.phpt@" name="006-proc_open-failed.phpt" role="test" />
				<file md5sum="@tests/006-proc_open-normal.phpt@" name="006-proc_open-normal.phpt" role="test" />
				<file md5sum="@tests/007-pcntl_exec-failed.phpt@" name="007-pcntl_exec-failed.phpt" role="test" />
				<file md5sum="@tests/007-pcntl_exec-normal.phpt@" name="007-pcntl_exec-normal.phpt" role="test" />
				<file md5sum="@tests/008-redirection.phpt@" name="008-redirection.phpt" role="test" />
				<file md5sum="@tests/009-twice_same_command.phpt@" name="009-twice_same_command.phpt" role="test" />
				<file md5sum="@tests/cmdformat.txt@" name="cmdformat.txt" role="doc" />
				<file md5sum="@tests/data.txt@" name="data.txt" role="doc" />
			</dir>
		</dir> <!-- / -->
	</contents>
	<dependencies>
		<required>
			<php>
				<min>5.1.0</min>
			</php>
			<pearinstaller>
				<min>1.4.3</min>
			</pearinstaller>
		</required>
	</dependencies>
	<providesextension>execdir</providesextension>
	<extsrcrelease />
	<changelog>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.7</release><api>1.0.0</api></version>
			<date>@curdate@</date>
			<notes>
				- add a missing commit from #32 Build test error on 1.0.5
				- fixed #37 Error due to the 3rd argument of pnctl_exe
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.6</release><api>1.0.0</api></version>
			<date>2022-02-02</date>
			<notes>
				- fixed build failure on PHP 5.x (#31)
				- fixed build test error (007) on 1.0.5 (#32)
				- PHP 8.1 Support (#33)
				- Check the patch build results of each version (#34)
				- proc_open_re :: argument string duplicate check (#35)
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.5</release><api>1.0.0</api></version>
			<date>2021-03-22</date>
			<notes>
				- PHP 7.4/8.0 Support (#27, #28)
				- fixed opcache redeclare problems (#26)
				- support new feature of PHP 7.4's proc_open (#29)
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.4</release><api>1.0.0</api></version>
			<date>2019-02-06</date>
			<notes>
				- fixed #24 support PHP 7.3
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.3</release><api>1.0.0</api></version>
			<date>2018-02-10</date>
			<notes>
				- fixed #21 confirm php 7.2 support
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.2</release><api>1.0.0</api></version>
			<date>2017-01-10</date>
			<notes>
				- fixed #12 Removing support for original system function with '_orig'
				- fixed #13 closing of fd incorrect when PTS enabled (php bug #69442)
				- fixed #15 But when using "2>&amp;1" in exec command
				- fixed #16 error "NULL byte detected."
				- fixed #17 failed run-test 000-jailed_shellcmd.phpt
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.1</release><api>1.0.0</api></version>
			<date>2017-01-10</date>
			<notes>
				- fixed #8 backquote and $() syntax weakness after semi colon
				- fixed #9 can't print debug message
				- print value of mod_execdir ini option on phpinfo() entry
				- fixed #11 When safe_mode enabled, wrong operation shell_exec function in php 5.3 and before
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.0</release><api>1.0.0</api></version>
			<date>2016-06-23</date>
			<notes>
				- Initial release.
				- verified from PHP 5.1 to PHP 7
			</notes>
		</release>
	</changelog>
</package>
